* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --twitter-blue: #1da1f2;
    --twitter-white: #ffffff;
    --twitter-gray: #2e2e2e;
    --twitter-gray-alternative: #828282;
    --twitter-black: #121214;
}

body, input, textarea, button {
    font: 400 1rem Roboto, sans-serif;
}

body {
    background: var(--twitter-black);
    color: var(--twitter-white);
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}


