* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --twitter-blue: #1da1f2;
    --twitter-white: #ffffff;
    --twitter-gray: #2e2e2e;
}

body, input, textarea, button {
    font: 400 1rem Roboto, sans-serif;
}

body {
    background: #121214;
    color: var(--twitter-white);
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

.layout {
    margin: 0 auto;
    max-width: 1000px;

    display: grid;
    grid-template-columns: 300px 1fr;
}

.content {
    border-left: 1px solid var(--twitter-gray);
    border-right: 1px solid var(--twitter-gray);
}

