* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --twitter-blue: #1da1f2;
    --twitter-white: #ffffff;
    --twitter-gray: #2e2e2e;
}

body, input, textarea, button {
    font: 400 1rem Roboto, sans-serif;
}

body {
    background: #121214;
    color: var(--twitter-white);
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

/** Page timeline **/

.layout {
    margin: 0 auto;
    max-width: 1000px;

    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    padding: 1.5rem 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .logo {
    width: 2rem;
    height: 2rem;
}

.sidebar .new-twitter {
    background: var(--twitter-blue);
    color: var(--twitter-white);

    border-radius: 9999px;
    border: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 900;
}

.sidebar .new-twitter:hover {
    filter: brightness(0.9);
}

.sidebar .main-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .main-navigation a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

.sidebar .main-navigation a.active {
    color: var(--twitter-blue);
}

.sidebar .main-navigation a:hover {
    filter: brightness(0.8);
}

.content {
    border-left: 1px solid var(--twitter-gray);
    border-right: 1px solid var(--twitter-gray);
}

.timeline-header {
    padding: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid var(--twitter-gray);
}

.timeline-header svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--twitter-blue);
}

.new-tweet-form {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new-tweet-form label {
    display: flex;
    gap: 0.75rem;
}

.new-tweet-form label img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.new-tweet-form label textarea {
    flex: 1;
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.75rem;
    resize: none;
    background: #121214;
    color: var(--twitter-white);
    outline: none;
}

.new-tweet-form button {
    background: var(--twitter-blue);
    color: var(--twitter-white);
    padding: 0.75rem 1.5rem;
    margin-left: auto;
    border-radius: 9999px;
    border: none;
    font-size: 1rem;
    font-weight: 900;
}

.separator {
    background: #202020;
    border-top: 1px solid var(--twitter-gray);
    border-bottom: 1px solid var(--twitter-gray);
    height: 0.75rem;
}
